<% if (!true) { %> <div><%- partial ('../helpers/modal-sign-in.ejs') %></div> <% } %>

<div class="topper">
  <img src="/images/gt.png" class="gt-logo"/>
</div>
<div class="container" style="min-height:80vh">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>The Greater Than Challenge</h4>
        <p>Every week we release three minimlaist re-designs of a classic NHL logo. Now we need you to tell us which design is the best! Vote to tell us which logo is <b>greater than</b> the others</p>
        <a href="#designs" class="button">See the designs</a>
      </div>
      <div class="one-half column gt-badge" style="">
        <img alt="" src="/images/Buffalo_Sabres_Logo.svg" width="200" height="200" data-file-width="1939" data-file-height="1939">
        <h6>week two<br/><b>Buffalo Sabres</b></h6>
      </div>
    </div>
  </div>
<div class="main clearfix" style="margin-top: 10%; background:#f5f5f5" id="designs">
  <div class="container burger-buns">
	<% if (question.title) { %>
		<h6>This Week's Designs</h6>
		<div class="row u-full-width">
		<% answers.forEach(function (answer, index) { %>
		  <div class="one-third column ballot">
		    <div class="thumbnail">
		      <img class="u-max-full-width" src="/images/w2design<%- index %>.jpg">
		    </div>
		    <a href="<%- 'answer/' + answer.id %>" class="button button-primary">Vote</a>
		  </div>
		<% }) %>
		</div>
		<p class="footer">• The order of designs is not related to the order of designers below •</p>
    <% } else { %>
		<h6>Thank you for voting! Check back next Thursday for another NHL logo re-design.</h6>
    <p class="footer">What's that you say? You haven't voted yet but it says you have? We're having some issues with multiple people voting on the same network, but we are working hard to solve this and should have it fixed by next week. Thanks for your patience!</p>
		<div class="row u-full-width">
		  <div class="one-third column ballot">
		    <div class="thumbnail">
		      <img class="u-max-full-width" src="/images/w2design0.jpg">
		    </div>
		  </div>
		  <div class="one-third column ballot">
		    <div class="thumbnail">
		      <img class="u-max-full-width" src="/images/w2design1.jpg">
		    </div>
		  </div>
		  <div class="one-third column ballot">
		    <div class="thumbnail">
		      <img class="u-max-full-width" src="/images/w2design2.jpg">
		    </div>
		  </div>
	  	</div>
	<% } %>
  </div>
</div>
<div class="clearfix">
  <div class="container burger-buns">
    <h6>The Designers</h6>
    <div class="row u-full-width">
      <div class="one-third column">
        <img class="img-circle portrait u-max-full-width" src="/images/landon.jpg">
        <p class="title">Landon</p>
      </div>
      <div class="one-third column">
        <img class="img-circle portrait u-max-full-width" src="/images/isaac.jpg">
        <p class="title">Isaac</p>
      </div>
      <div class="one-third column">
        <img class="img-circle portrait u-max-full-width" src="/images/austin.jpg">
        <p class="title">Austin</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
var $root = $('html, body');
$('a').click(function() {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
});
</script>
