<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </head>

  <body>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/album.css">

    <div class="navbar-collapse collapse inverse" id="navbar-header">
      <div class="container-fluid">
        <div class="about">
          <h4>About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="social">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#">Follow on Twitter</a></li>
            <li><a href="#">Like on Facebook</a></li>
            <li><a href="#">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-static-top collapse">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          &#9776;
        </button>
        <a href="#" class="navbar-brand">Album</a>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Isaac's List</h1>
        <p class="lead text-muted">Here's my wish list for Birthday & Christmas! Updates might come in throughout the next week or so. Enjoy the shopping!</p>
        <p class="collapse">
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="card-columns">

          <div class="card">
            <img src="/images/list/tape.png" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Bike Tape</h4>
              <p class="card-text">Doesn't need to be this exact one but needs to match my bike. More of a bold pink than this light one.<br />
              <a href="http://www.chainreactioncycles.com/ca/en/fizik-superlight-classic-bar-tape/rp-prod27916">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/gatorskins.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Gatorskins</h4>
              <p class="card-text">Dad knows what I need<br />
              <a href="http://www.mec.ca/product/5005-157/continental-ultra-gatorskin-700-x-28-wire-tire/">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/press.jpeg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">French Press</h4>
              <p class="card-text"><a href="http://www.thebay.com/webapp/wcs/stores/servlet/en/thebay/madrid-french-coffee-and-tea-press-0274-gr-171--24">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/hat.jpeg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Black Toque</h4>
              <p class="card-text">Would like for my birthday to wear in december <br />
              <a href="http://www.hm.com/us/product/05451?article=05451-A&cm_vc=GOES_WITH_PD">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/bikerjeans.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Biker Jeans</h4>
              <p class="card-text">Will probably need to try them on. A lot of my pants are big on my waist <br />
              <a href="http://www.zara.com/ca/en/man/jeans/view-all/biker-jeans-c733864p2939526.html">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/sweater.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Drake Sweater</h4>
              <p class="card-text">Doesn't need to be this exact one cause of $$$ but definitely this style! Would like for birthday to wear in december  <br />
              <a href="https://ca.frankandoak.com/product/33830">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/jeans.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Black Jeans</h4>
              <p class="card-text">Will probably need to try them on. I'll look at what my other F21 jeans size is<br />
              <a href="http://www.forever21.com/shop/ca/en/men-bottom-denim/p/clean-wash---slim-fit-jeans-2000083480--1001">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/wheel.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">New Wheel(s)</h4>
              <p class="card-text">Dad knows what I need. Back one is needed, front one would be nice <br />
              <a href="http://www.mec.ca/product/5020-835/alex-r450-700c-32h-14t-rear-wheel/?h=10+50002+50012+50182&f=10+50002+50187">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/keys.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Keyboard</h4>
              <p class="card-text">I've seen good reviews on this guy. I would want either the 49 key or 61 key <br />
              <a href="http://www.amazon.com/Nektar-LX49-controller-pre-mapped-integration/dp/B00GA99CCW/ref=sr_1_1?s=musical-instruments&ie=UTF8&qid=1447029857&sr=1-1&keywords=nektar+impact+lx49&pebp=1447029860812&perid=0WBFESRAGH7RMENFDZ9P">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/boxers.jpeg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Boxers</h4>
              <p class="card-text">Boxers boxers and more boxers. I need lots <br />
              <a href="http://www.hm.com/us/product/20563?article=20563-A">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/ipad.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">iPad Sleeve</h4>
              <p class="card-text">For iPad mini. My case is broken <br />
              <a href="http://www.mujjo.com/ipad-envelope-sleeve-tan">link</a></p>
            </div>
          </div>

          <div class="card">
            <img src="/images/list/iem.jpg" class="card-img-top img-responsive" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">In Ear Monitors</h4>
              <p class="card-text">If you want to get IEMs that aren't this one talk to me. I like the black Hint: Shop on Cyber Monday! <br />
              <a href="http://www.amazon.com/dp/B00SLVB71Q/ref=psdc_172541_t1_B004OBZ2XQ">link</a></p>
            </div>
          </div>


        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; Isaac, with a lot of help from Bootstrap!</p>
        <p class="collapse">New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../assets/js/vendor/holder.js"></script>
    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
