
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<% if (!true) { %> <div><%- partial ('../helpers/modal-sign-in.ejs') %></div> <% } %>

<%- partial ('../helpers/jumbotron.ejs') %>

<%- partial ('../helpers/voting.ejs') %>

<%- partial ('../helpers/past-designs.ejs') %>

<% if (!question.title) { %>
<script>
var $root = $('html, body');
$root.animate({
    scrollTop: $( '#designs' ).offset().top
}, 0);

swal("Thank you for voting!", "Check back next Thursday for another NHL logo re-design!", "success")
</script>
<% } %>