html {
  position: relative;
  min-height: 100%;
}

body {
  color: #3d454d;
  height: 100%;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Header */

nav.navbar-poller {
	background-color: transparent;
	border: none;
}

/* Sign in modal */

div.sign-in-dialog {
  width: 300px;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 10px auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

footer div.left-footer {
	margin: 20px 20px;
}

footer div.left-footer a {
	margin-right: 20px;
}

footer div.right-footer {
	margin: 20px 20px 0;
	float: right;
}

footer div.right-footer p {
	float: right;
}

